.PopOutMenu-container {
  height: 100vh;
  width: 25vw;
  background-color: rgb(28, 28, 28);
  padding-top: 40px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.75);
}

.PopOutMenu-container p {
    padding: 30px 15px;
    background-color: rgb(28, 28, 28);
    width: 100%;
    border-top: 1px solid rgb(132, 132, 132);
    border-bottom: 1px solid rgb(132, 132, 132);
}

.PopOutMenu-container button {
    background-color: #276e66;
    border-radius: 8px;
    width: 60%;
    margin: 30px auto;
}

.PopOutMenu-container button:hover {
    background-color: #1d5750;
}


@media only screen and (max-width: 768px) {
    .PopOutMenu-container {
        width: 100%
    }
}